/* Accordion
-------------------------------------------------------------------------------------*/
.chill-accordion {
	background: none;
	border: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 20px;
}

.chill-accordion [class^="icon-"],
.chill-accordion [class*="icon-"] {
	font-size: 16px;
	margin: 0 5px 0 0;
}

.chill-accordion [class^="icon-"].right,
.chill-accordion [class*="icon-"].right {
	float: right;
	margin: 0 0 0 5px;
}

.chill-accordion .chill-accordion-trigger {
	background-color: #FFF;
	border: 1px solid #EEE;
	color: #CCC;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	margin: 15px 0 0;
	outline: 0;
	padding: 22px 15px;
	text-transform: none;
}

.chill-accordion .chill-accordion-trigger:after {
	color: #333;
	content: "\f116";
	float: right;
	font-family: 'FontAwesome';
	font-size: 18px;
}

.chill-accordion .ui-accordion-header.ui-accordion-header-active:after {
	color: #333;
	content: "\f117";
	float: right;
	font-family: 'FontAwesome';
	font-size: 18px;
}

.chill-accordion .ui-accordion-header.ui-accordion-header-active {
	background-color: #FFF;
	color: #333;
}

.chill-accordion .ui-accordion-content {
	background-color: #FFF;
	border: 1px solid #EEE;
	border-top: 0;
	padding: 20px;
}

/* Alerts
-------------------------------------------------------------------------------------*/

/* Alert */
.chill-alert {
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	border-radius: 4px;
	color: #C09853;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 20px;
	padding: 10px 12px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.chill-alert [class^="icon-"],
.chill-alert [class*="icon-"] {
	font-size: 14px;
	margin: 5px 10px 0 0;
}

.chill-alert [class^="icon-"].right,
.chill-alert [class*="icon-"].right {
	float: right;
	margin: 5px 0 0 10px;
}

.chill-alert a,
.chill-alert a:hover {
	background: none;
	border: 0;
	color: #C09853;
	padding: 0;
	text-decoration: underline;
}

/* Error */
.chill-alert-error {
	background-color: #F2DEDE;
	border-color: #EED3D7;
	color: #B94A48;
}

.chill-alert-error a,
.chill-alert-error a:hover {
	background: none;
	border: 0;
	color: #B94A48;
	padding: 0;
	text-decoration: underline;
}

/* Info */
.chill-alert-info {
	background-color: #D9EDF7;
	border-color: #BCE8F1;
	color: #3A87AD;
}

.chill-alert-info a,
.chill-alert-info a:hover {
	background: none;
	border: 0;
	color: #3A87AD;
	padding: 0;
	text-decoration: underline;
}

/* Success */
.chill-alert-success {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #468847;
}

.chill-alert-success a,
.chill-alert-success a:hover {
	background: none;
	border: 0;
	color: #468847;
	padding: 0;
	text-decoration: underline;
}

/* Buttons
-------------------------------------------------------------------------------------*/
.chill-button,
.chill-button:hover {
	border: 0;
	display: inline-table;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 12px;
	padding: 13px 12px 12px;
	font-size: 12px;
	color: #FFF;
	cursor: pointer;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color 0.3s linear;
		-moz-transition: background-color 0.3s linear;
		-o-transition: background-color 0.3s linear;
		-webkit-transition: background-color 0.3s linear;
}

.chill-button [class^="icon-"],
.chill-button [class*="icon-"] {
	font-size: 14px;
	margin: 0 5px 0 0;
}

/* Black */
.chill-button.black {
	background-color: #444;
}

.chill-button.black:hover {
	background-color: #666;
}

/* Blue */
.chill-button.blue {
	background-color: #67AEE6;
}

.chill-button.blue:hover {
    background-color: #80C1F9;
}

/* Brown */
.chill-button.brown {
    background-color: #7C584B;
}

.chill-button.brown:hover {
    background-color: #A58376;
}

/* Green */
.chill-button.green {
	background-color: #E0F9BE;
	color: #000;
}

.chill-button.green:hover {
	background-color: #D1F2A5;
	color: #000;
}

/* Pink */
.chill-button.pink {
    background-color: #F796B2;
}

.chill-button.pink:hover {
	background-color: #F682A3;
}

/* Purple */
.chill-button.purple {
    background-color: #A7B4EA;
}

.chill-button.purple:hover {
	background-color: #8A99DA;
}

/* Red */
.chill-button.red {
    background-color: #C3260D;
}

.chill-button.red:hover {
	background-color: #E7482F;
}

/* Yellow */
.chill-button.yellow {
    background-color: #FFFF98;
    color: #000;
}

.chill-button.yellow:hover {
    background-color: #FFFF00;
	color: #000;
}

/* White */
.chill-button.white {
	color: #000;
}

.chill-button.white:hover {
	background-color: #FAFAFA;
	color: #000;
}

/* Columns
-------------------------------------------------------------------------------------*/
.chill-column {
	float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
	margin-right: 4%;
}

.chill-column-last {
	clear: right;
	float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
	margin-right: 0;
}

.chill-column [class^="icon-"],
.chill-column [class*="icon-"] {
	background-color: #333;
	color: #FFF;
	float: left;
	line-height: normal;
	margin: 6px 20px 0 0;
}

.chill-column .column-content {
	display: block;
	overflow: hidden;
}

.one_half, .one_half_last { width: 48%; }
.one_third, .one_third_last { width: 30.66%; }
.one_fourth, .one_fourth_last { width: 22%; }
.one_fifth, .one_fifth_last { width: 16.8%; }
.two_third, .two_third_last { width: 65.33%; }
.two_fifth, .two_fifth_last { width: 37.6%; }
.three_fourth, .three_fourth_last { width: 74%; }
.three_fifth, .three_fifth_last { width: 58.4%; }
.four_fifth, .four_fifth_last { width: 67.2%; }
.five_sixth, .five_sixth_last { width: 82.67%; }

/* Emphasis
-------------------------------------------------------------------------------------*/
.chill-emphasis {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Tabs
-------------------------------------------------------------------------------------*/
.chill-tabs {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 20px;
}

.chill-tabs .ui-tabs-nav {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
}

.chill-tabs .ui-tabs-nav li {
	background: none;
	border: 0;
	display: block;
	float: left;
	height: 50px;
	margin: 0;
	outline: none;
	padding: 0;
	width: auto;
}

.chill-tabs .ui-tabs-nav li a,
.chill-tabs .ui-tabs-nav li a:hover {
	background-color: #FFF;
	border: 1px solid #EEE;
	border-width: 1px 1px 0 1px;
	box-sizing: content-box !important;
		-moz-box-sizing: content-box !important;
		-webkit-box-sizing: content-box !important;
	color: #CCC;
	display: block;
	font-size: 16px;
	height: 39px;
	line-height: 40px;
	margin: 0 -1px 0 0;
	outline: none;
	padding: 5px 20px;
	text-decoration: none;
	width: auto;
}

.chill-tabs .ui-tabs-nav .ui-state-active a,
.chill-tabs .ui-tabs-nav .ui-state-active a:hover {
	background-color: #FFF;
	color: #333;
	height: 40px;
}

.chill-tabs .tab-content {
	background-color: #FFF;
	border: 1px solid #EEE;
	clear: both;
	margin: 0 0 -1px;
	padding: 20px;
}

/* Media Query
-------------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {

	.one_half,
	.one_third,
	.one_fourth,
	.one_fifth,
	.two_third,
	.two_fifth,
	.three_fourth,
	.three_fifth,
	.four_fifth,
	.five_sixth,
	.one_half_last,
	.one_third_last,
	.one_fourth_last,
	.one_fifth_last,
	.two_third_last,
	.two_fifth_last,
	.three_fourth_last,
	.three_fifth_last,
	.four_fifth_last,
	.five_sixth_last {
		clear: none;
		float: none;
		margin-right: 0;
		width: 100%;
	}

}